.DS_Store
Servers
.metadata
.recommenders
.git
.idea
**/*.dll
.settings
.project
**/.springBeans
.classpath
**/.mvn
**/target
**/bin
**.log
**.bak
transaction-logs
**/node_modules/*
**/bower_components/
**/fileupload/
**/resources/resources/
*.st
*.lock
**/dist
**/dist-pro
**/dist-dev
logs/
**/*.db
**/*.log
**/.factorypath
**/target
.secret
.idtoken
.pid
.localserver
**/*.iml
# local env files
*.env.local
*.env.*.local

# Log files
**/yarn-error.log*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
*.idea
*.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
**/sh.exe.stackdump
*/*.classpath
*/*.project
*/walletStore/
**/.iml
**/*.iml
*/*.iml
/package-lock.json
/src/types/auto-components.d.ts
/src/types/auto-imports.d.ts
types
